{
    "presets": [
        "env"
    ],
    "plugins": [
        [
            "../index.js",
            {
                "localizationBundle": {
                    "appName": "Cool App"
                }
            }
        ]
    ]
}