{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "../index.js",
            {
                "localizationBundle": {
                    "appName": "Cool App",
                    "prop.Val": "Wow %s"
                }
            }
        ]
    ]
}